body {
    background-color: #F9F9F9;
}

#gameboard {
    background-color: #F0F0F0;
    /*width: 150px;
    height: 350px;*/
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.column {
    float:left;
    width:50px;
    height: 350px;
    display: table;
}

.gamepiece {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FF9C5B;
}

.orange {
    background-color: #FF9C5B;
}
.red {
   background-color: #E84A5F;
}
.pink {
   background-color: #FF847C;
}
