:root {
    --body-color: #F9F9F9;
    --body-color-game-over: #E7E7E7;
    --board-color: #F0F0F0;
    --board-color-game-over: #AAAAAA;
    --tile-color-1: #ce4468;
    --tile-color-2: #f7b358;
    --tile-color-3: #759e4d;
    --tile-color-4: #8d90cb;
    --tile-select-color: #bbbbbb;
}

body {
    background-color: var(--body-color);
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
    text-transform: lowercase;
}

h1 {
    font-size: 5em;
    font-weight: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameboard {
    background-color: var(--board-color);
    margin: 5% 0 0 0;
}

.column {
    float: left;
    display: table;
}

.gamepiece {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

/* Scale on mobile */
@media (max-width: 700px)
    and (orientation: portrait)
{
    h1 {
        font-size: 18vw;
        margin: 0.2rem;
    }
    .gamepiece {
        height: 20vw;
        width: 20vw;
    }
}

body.endgame {
    background-color: var(--body-color-game-over);

    #gameboard {
        background-color: var(--board-color-game-over);
    }
}

.orange {
    color: var(--tile-color-1);
}

.red {
    color: var(--tile-color-2);
}

.pink {
    color: var(--tile-color-3);
}

.purple {
    color: var(--tile-color-4);
}

.orangegamepiece {
    background-color: var(--tile-color-1);
}

.redgamepiece {
    background-color: var(--tile-color-2);
}

.pinkgamepiece {
    background-color: var(--tile-color-3);
}

.purplegamepiece {
    background-color: var(--tile-color-4);
}

.highlight {
    background-color: var(--tile-select-color);
}

/* fade */
.fadeout {
    transition: opacity 300ms;
    opacity: 0;
}
