body {
    /*height: 90%;*/
    width: 90%;
    background-color: #F9F9F9;
    margin: auto;
}

h1 {
    width: 100%;
    text-align: center;
    text-transform: lowercase;
    font-size: 5em;
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: normal;
}

#gameboard {
    background-color: #F0F0F0;
    margin: 5% auto 0 auto;
}

body.endgame {
    background-color: #A0A0A0;
}

#gameboard.endgame {
    background-color: #AAAAAA;
}

.column {
    float: left;
    display: table;
}

.orange {
    color: #FF9C5B;
}

.red {
    color: #E84A5F;
}

.pink {
    color: #FF847C;
}

.purple {
    color: #cc52cc;
}

.gamepiece {
    border-radius: 50%;
    background-color: #FF9C5B;
}

.orangegamepiece {
    background-color: #FF9C5B;
}

.redgamepiece {
    background-color: #E84A5F;
}

.pinkgamepiece {
    background-color: #FF847C;
}

.purplegamepiece {
    background-color: #cc52cc;
}

.highlight {
    background-color: #BBB;
}

/* fade */
.show {
    transition: opacity 1000ms;
  }
.hide {
    opacity: 0;
  }
