body {
    background-color: #F9F9F9;
}

#circlething {
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 5em;
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: normal;
    text-align: center;
    text-transform: lowercase;
}

#gameboard {
    background-color: #F0F0F0;
    height: 420px;
    width: 210px;
    margin: 5% auto 0 auto;
    display: inline-block;
}

.column {
    height: 420px;
    width: 70px;
    float: left;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.gamepiece {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

/* Scale on mobile */
@media (max-width: 700px) and (orientation: portrait) {
    h1 {
        font-size: 18vw;
        margin: 0.2rem;
    }
    .gamepiece {
        height: 20vw;
        width: 20vw;
    }
}

body.endgame {
    background-color: #A0A0A0;
}

#gameboard.endgame {
    background-color: #AAAAAA;
}

.orange {
    color: #FF9C5B;
}

.red {
    color: #E84A5F;
}

.pink {
    color: #FF847C;
}

.purple {
    color: #cc52cc;
}

.orangegamepiece {
    background-color: #FF9C5B;
}

.redgamepiece {
    background-color: #E84A5F;
}

.pinkgamepiece {
    background-color: #FF847C;
}

.purplegamepiece {
    background-color: #cc52cc;
}

.highlight {
    background-color: #BBB;
}

/* fade */
.fadeout {
    transition: opacity 500ms ease;
    opacity: 0;
}

.dropping {
    transition: 500ms ease-in;
    transform: translateY(70px);
}