html, body {
    height: 100%;
    width: 100%;
    background-color: #F9F9F9;
}

#gameboard {
    background-color: #F0F0F0;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body.endgame {
    background-color: #A0A0A0
}

#gameboard.endgame {
    background-color: #AAAAAA
}

.column {
    float:left;
    display: table;
}

.gamepiece {
    border-radius: 100%;
    background-color: #FF9C5B;
}

.orange {
    background-color: #FF9C5B;
}
.red {
   background-color: #E84A5F;
}
.pink {
   background-color: #FF847C;
}

.blue {
    background-color: blue
}

.highlight {
    background-color: #BBB;
}